<!-- Button to trigger modal -->

<!-- Modal -->
<div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel" align="center">Y.samuel santhosh</h3>
  </div>
  <div class="modal-body">

    <div class="accordion" id="accordion2">

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
           Work
         </a>
       </div>
       <div id="collapseOne" class="accordion-body collapse in">
        <div class="accordion-inner">
          I like to develop Web Applications and portals using microsoft technologies like ASP.NET and opensource technologies  Ruby On Rails .Now working as a web developer in Arrivu Systems.
          <br>
          Job Description:
          <br>
          web Applications developing using ruby on rails.
        </div>
      </div>
    </div>
    
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          Under Graduate
        </a>
      </div>
      <div id="collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
          I have compeleted B.E Computer Sciense in SNS COLLEGE OF TECHNOLOGY coimbatore.
          <br>
          Joined Year:2009
          <br>
          Completed Year:2012
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
          Diploma
        </a>
      </div>
      <div id="collapseThree" class="accordion-body collapse">
        <div class="accordion-inner">
          I have compeleted Diploma in Computer Sciense in SREE KRISHNA POLYTECHNIC COLLEGE Nagercoil.
          <br>
          Joined Year:2006
          <br>
          Completed Year:2009
        </div>
      </div>
    </div>


    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
          Schooling
        </a>
      </div>
      <div id="collapseFour" class="accordion-body collapse">
        <div class="accordion-inner">
          I did my schooling in LMS HIGHER SECONDARY ZIONPURAM
          <br>
          Completed Year:2006
        </div>
      </div>
    </div>


    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>

    </div>
  </div>
</div>