<footer class="footer">
	<small>
		<a href="https://facebook.com/samuels410">Follow me on Facebook</a>
		by samuel santhosh
	</small>
	<nav>
		<ul>
			<li><%= link_to "Photos",galary_path %></li>
			<li><%= link_to "Contact Me", contact_path %></li>
			<li><a href="http://lankasri.com">News</a></li>
		</ul>
	</nav>
</footer>