<!-- Button to trigger modal -->

<!-- Modal -->
<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel" align="center">Photo Gallary </h3>
  </div>
  <div class="modal-body" align="center">

<ul class="thumbnails" align="center">
  <li class="span4">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("1.jpg")%>
      <h3>Sun flower</h3>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("2.jpg")%>
      <h3>Parachute</h3>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("3.jpg")%>
      <h3>Tajmahal</h3>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("4.jpg")%>
      <h3>Landscape bridge</h3>
    </div>
  </li>
</ul>


  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>


  </div>

</div>
